* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: burlywood;
  color: white;
}
#root {
  background: black;
}
button {
  border: none;
  cursor: pointer;
}
.btn {
  width: 2em;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1em;
}
#dec {
  background-color: #ff0000;
  box-shadow: #ff0000 0 0 5px;
}
#inc {
  background-color: #00ffff;
  box-shadow: #00ffff 0 0 5px;
}
.count {
  font-size: 1.125rem;
}
.refresher-card {
  background: white;
  width: fit-content;
  color: black;
  margin-bottom: 1em;
  padding: 1em;
}
