* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: burlywood;
  color: white;
}
#root {
  background: wheat;
  text-align: center;
  height: 100vh;
}
button {
  border: none;
  cursor: pointer;
}
.btn {
  width: 2em;
  background-color: #000000;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1em;
}
.btn:hover {
  box-shadow: 0 0 5px;
  text-shadow: 0 0 2px;
}
#dec {
  color: #ff0000;
}
#inc {
  color: #00ffff;
}
.count {
  font-size: 1.125rem;
}
.refresher-card {
  background: white;
  /* width: fit-content; */
  color: black;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 5px;
  border: white 2px solid;
}
.refresher-card:hover,
#total-count:hover {
  border: black 2px solid;
  box-shadow: 0 0 10px;
}
.refreshers {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  margin: 2em 1em;
}
@media (max-width: 800px) {
  .refreshers {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .refreshers {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .refreshers {
    grid-template-columns: 1fr;
  }
}
#total-count {
  background: tomato;
  margin-right: 1em;
  padding: 1em;
  width: fit-content;
  color: #000000;
  font-weight: 600;
  box-shadow: 0 0 5px;
  align-self: flex-end;
  border-radius: 10px;
  border: tomato 2px solid;
}
#checkout {
  width: fit-content;
  color: #00ffff;
  padding: 0.25em;
  text-align: center;
  margin: auto;
  box-shadow: 0 0 5px black;
}
.container {
  display: flex;
  flex-direction: column;
}
h1 {
  color: #ff0000;
}
